.user {
  text-align: center;
  padding: 20px;

  @media (max-width: 576px) {
    padding: 15px 15px 0px;
  }

  &__title {
    font-size: 36px;
  }

  &__info {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    color: rgb(127, 8, 8);

    @media (max-width: 576px) {
      font-size: 19px;
    }

    span {
      font-size: 16px;
      font-weight: 600;
    }
  }
}
