$header-bg: #222;
$header-text: #ffffff;

$hover: #fe0021;
$hover-btn: #ce2828;

$btn-red: #fe0021;
$white-text: #fff;

$white-bg: #ffffff;
$white-low-bg: #f8f8f8;

$grey-text: #4f4f4f;

$black-text: #000000;
